
<!-- MAIN PAGE -->
<div class = "main-page">

<!-- TOP RATED CAFE --> 
<div class = "top-cafes"> 
    <h1> TOP RATED CAFES: </h1>

    <div class = "top-cafe"> 
        <div> 
            <img src="assets/cafe-icons/prelude.jpg">
        </div>
        <div> 
            <p> Prelude Cafe </p>
        </div>
        <div class="view-cafe-box">
            <a href = "view-prelude.html"> <button class = "view-top-cafe"> View Cafe </button> </a>
        </div>
    </div>

    <div class = "top-cafe"> 
        <div> 
            <img src="assets/cafe-icons/tomo.png">
        </div>
        <div> 
            <p> Tomo Coffee  </p> 
        </div>
        <div class="view-cafe-box">
            <button class = "view-top-cafe"> View Cafe </button>
        </div>
    </div>

<div class = "top-cafe"> 
    <div> 
        <img src="assets/cafe-icons/mood-coffee.jpg">
    </div>
    <div> 
        <p> Mood Coffee </p>
    </div>
    <div class="view-cafe-box">
        <button class = "view-top-cafe"> View Cafe </button>
    </div>
</div>

<div class = "top-cafe"> 
    <div> 
        <img src="assets/cafe-icons/obscure.jpg">
    </div>
    <div> 
        <p> Obscure Cafe </p>
    </div>
    <div class="view-cafe-box">
        <button class = "view-top-cafe"> View Cafe </button>
    </div>
</div>

<div class = "top-cafe"> 
    <div> 
        <img src="assets/cafe-icons/tim-hortons.jpg">
    </div>
    <div> 
        <p> Tim Hortons </p>
    </div>
    <div class="view-cafe-box">
        <button class = "view-top-cafe"> View Cafe </button>
    </div>
</div>

<div class = "top-cafe"> 
    <div> 
        <img src="assets/cafe-icons/coffee-bean.jpg">
    </div>
    <div> 
        <p> Coffee Bean </p>
    </div>
    <div class="view-cafe-box">
        <button class = "view-top-cafe"> View Cafe </button>
    </div>
</div>

<div class = "top-cafe"> 
    <div> 
        <img src="assets/cafe-icons/coffee-bean.jpg">
    </div>
    <div> 
        <p> Coffee Bean </p>
    </div>
    <div class="view-cafe-box">
        <button class = "view-top-cafe"> View Cafe </button>
    </div>
</div>

<div class = "top-cafe"> 
    <div> 
        <img src="assets/cafe-icons/coffee-bean.jpg">
    </div>
    <div> 
        <p> Coffee Bean </p>
    </div>
    <div class="view-cafe-box">
        <button class = "view-top-cafe"> View Cafe </button>
    </div>
</div>
                
<div class = "top-cafe"> 
    <div> 
        <img src="assets/cafe-icons/coffee-bean.jpg">
    </div>
    <div> 
        <p> Coffee Bean </p>
    </div>
    <div class="view-cafe-box">
        <button class = "view-top-cafe"> View Cafe </button>
    </div>
</div>

<div class = "top-cafe"> 
    <div> 
        <img src="assets/cafe-icons/coffee-bean.jpg">
    </div>
    <div> 
        <p> Coffee Bean </p>
    </div>
    <div class="view-cafe-box">
        <button class = "view-top-cafe"> View Cafe </button>
    </div>
</div>

<div class = "top-cafe"> 
    <div> 
        <img src="assets/cafe-icons/coffee-bean.jpg">
    </div>
    <div> 
        <p> Coffee Bean </p>
    </div>
    <div class="view-cafe-box">
        <button class = "view-top-cafe"> View Cafe </button>
    </div>
</div>
</div>

<div class = "mainpage-half"> 
<!-- BUTTONS: VIEW CAFE & POST A REVIEW -->
    <div class="lines"><hr></div>
    <div class = "bttns-div"> 
        <a href = "view-all.html"> <button class = "view-cafe-bttn"> View All Cafe </button> </a> 
        <a href = "post-review.html">  <button class = "post-review-bttn"> Post a Review </button> </a>
    </div>

<!-- PROMOS -->
    <div class = "promos"> 
        <h1> Promos posted by establishment owners </h1>
        <div class = "promo-list"> 
            <p> P30.00 off at Prelude Cafe </p>
            <a href="view-promo1.html"><button class = "view-promo"> View Details </button></a>
        </div>
        <div class = "promo-list"> 
            <p> Buy 1 Take 1 at Mood Coffee </p>
            <a href="view-promo2.html"><button class = "view-promo"> View Details </button></a>
        </div>
        <div class = "promo-list"> 
            <p> P50.00 off at Coffee St. </p>
            <button class = "view-promo"> View Details </button>
        </div>
        <div class = "promo-list"> 
            <p> P50.00 off at Coffee St. </p>
            <button class = "view-promo"> View Details </button>
        </div>
        <div class = "promo-list"> 
            <p> P50.00 off at Coffee St. </p>
            <button class = "view-promo"> View Details </button>
        </div>
    </div>
    <div class="lines"><hr></div>
</div>

</div>
