<!-- DASHBOARD -->
<div class="top-bar"> 
<!-- FOR THE LOGO -->
  <div class = "div-logo"> 
    <h1> <i class="fa-solid fa-mug-hot logo"></i> <i>COFFEE LENS</i></h1>
</div> <!-- END OF LOGO-->
        
<!-- FOR THE TOP NAV BAR -->
<div class = "nav"> 
  <div class = "top-search-bar">
    <input class = "search" type = "text" placeholder="Search"> 
    <button class = "search-bttn"> Search </button>
  </div>
<div class = "links">
  <a href ="index.html"> Home </a> 
  <a href ="index.html"> About </a> <!-- TODO: Change directory -->
  <a href ="view-all.html"> Cafes </a> 
  <a href ="login.html"> Log Out </a> 
</div>
<a href = "view-profile.html"> <img src= "assets/user-icons/cinnamoroll.jpg"> </a>
  </div> 
</div>
