<!-- DASHBOARD -->
<div class="top-bar"> 
<!-- FOR THE LOGO -->
  <div class = "div-logo"> 
    <h1> <i class="fa-solid fa-mug-hot logo"></i> <i>COFFEE LENS</i></h1>
</div> <!-- END OF LOGO-->
        
<!-- FOR THE TOP NAV BAR -->
<div class = "nav"> 
  <div class = "top-search-bar">
    <input class = "search" type = "text" placeholder="Search"> 
    <button class = "search-bttn"> Search </button>
  </div>
<div class = "links">
  <a href ="/"> Home </a> 
  <a href ="about"> About </a> 
  <a href ="view_all"> Cafes </a> 
  <a href ="login"> Log Out </a> 
</div>
<a href = "view_profile"> <img src= "assets/user-icons/cinnamoroll.jpg"> </a>
  </div> 
</div>
