<div class="login-page"> 
    <!-- FOR THE LOGO -->
    <div class = "login-logo"> 
        <h1> <i class="fa-solid fa-mug-hot logo"></i> <i>COFFEE LENS</i></h1>
    </div> <!-- END OF LOGO-->

    
    <div class="login-box"> <!-- log in box-->
        
            
            {{#if success}}
            <div class="inputs"> 
                <h1>Successfully Logged In </h1>
            </div>
            <div class="btns"> 
                <div class="login">
                    <button formaction="/"> Home Page </button>                         
                </div>                      
            </div>
            {{/if}}
            {{#if !succcess}}
            <div class="inputs"> 
                <h1>Incorrect Username and/or Password </h1>
            </div>
            <div class="btns"> 
                <div class="login">
                    <button formaction="login"> Back to Login Page </button>                         
                </div>                      
            </div>
            {{/if}}

        
    </div>  
</div> 