<div class="login-page"> 
    <!-- FOR THE LOGO -->
    <div class = "login-logo"> 
        <h1> <i class="fa-solid fa-mug-hot logo"></i> <i>COFFEE LENS</i></h1>
    </div> <!-- END OF LOGO-->

    
    <div class="login-box"> <!-- log in box-->
        
            
            {{#if success}}
            <div class="inputs"> 
                <h1>Successfully Logged In </h1>
            </div>
            <div class="btns"> 
                <div class="login">
                    <button type="button" id="backHome"> Home Page </button> 
                    <script>
                        document.getElementById('backHome').addEventListener('click', function(event) {
                        event.preventDefault();
                        window.location.href = '/';
                        });
                    </script>                        
                </div>                      
            </div>
            
            {{else}}
            <div class="inputs"> 
                <h1>Incorrect Username and/or Password </h1>
            </div>
            <div class="btns"> 
                <div class="login">
                    <button type="button" id="backLogin"> Back to Login Page </button>    
                    <script>
                        document.getElementById('backLogin').addEventListener('click', function(event) {
                        event.preventDefault();
                        window.location.href = '/login';
                        });
                    </script>                      
                </div>                      
            </div>
            {{/if}}

        
    </div>  
</div> 