<div class="login-page"> 

    <div class="login-box"> <!-- log in box-->

    <form action="#"> 

    <div class="inputs"> <!-- username/password-->
        <label for="email">Email: &nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
        <input type="text" id="email" name="email"><br><br>
        <label for="email">Username: &nbsp;&emsp;&emsp;&emsp;&nbsp;</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password: &emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="password" id="password" name="password" minlength="8"><br><br>
        <label for="password">Re-enter Password: </label>
        <input type="password" id="password" name="password" minlength="8"><br><br>
        <a> Are you an Establishment Owner? </a>
        <label for="owner"> Yes </label>
        <input type="radio" id="owner" name="account-type" value="owner">
        <label for="owner"> No </label>
        <input type="radio" id="not-owner" name="account-type" value="not-owner">

    </div>

    <div class="btns"> <!-- login button -->
        <div class="login">
            
            <button type="button" id="backHome"> Create Account </button>
            <script>
                        document.getElementById('backHome').addEventListener('click', function(event) {
                        event.preventDefault();
                        window.location.href = '/';
                        });
                    </script> 
            
        </div>                      
    </div>
    </form>
    </div>
</div> 