{{>top-nav}}

<div class="create-cafe-main"> 

    <div class="edit-profile-container"> <!-- log in box-->

        <form action="/create_cafe" method="POST"> 

            <div class="inputs"> <!-- username/password-->
                <label for="cafe-name">Cafe: &nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
                <input type="text" id="cafename" name="cafename"><br><br>
                <label for="description">Description: &nbsp;&emsp;&emsp;&emsp;&nbsp;</label>
                <input type="text" id="description" name="cafedesc"><br><br>
                <div class="file-upload">
                    <input type="file" id="myFile" name="filename">
                </div>

            </div>

            <div class="btns"> <!-- login button -->
                <div class="login">
            
                    <button action="submit"> Create Cafe </button>
            
                </div>                      
            </div>
        </form>
    </div>
</div> 