{{>top-nav}}
<div class = "edit-promo">
    <div class = "edit-posting"> 
        <div class = "poster-info">
            <div> 
                <img class = "poster" src = "assets/cafe-owner/jake.jpg">
            </div>
            <div class = "poster-details"> 
                <p> <a href = "view-profile-owner.html"> <b> @jakesim </b> </a> • Establishment Owner </p> 
                <p> Posted: Feb. 10, 2024 </p>
            </div>
        </div>
        

        <div class="post-info"> 
            <div class = "post-pic"> 
                <img src = "assets/promos/promo-30-prelude.png">
            </div>
            <div class = "post-content"> 
                <p> @jakesim: P30.00 off at Prelude Cafe!
                    <br> <b>Promo Validity: </b>February 14, 2024 - February 15, 2024. 
                </p>  

                <div class="like_btn_container">
                    <div class="like-post-rating">
                        <span class="like-btn material-icons"> thumb_up </span>
                        <span class="like-count">0</span>
                    </div>
                    <div class="like-post-rating">
                        <span class="like-btn material-icons"> thumb_down </span>
                        <span class="like-count">0</span>
                    </div>
                </div>
            </div> 
        </div>
    </div>

    <!-- Edit Review -->
    <div class = "edit-promo-details">
        <h1> Edit Promo Post:</h1>
        <h3> Cafe: </h3>
        <div class="dropdown" tabindex="0">  
            <div class="select">
                <span class="selected">-</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li>Cafe1</li>
                <li>Cafe2</li>
                <li>Cafe3</li>
                <li class="active">-</li>
            </ul>
        </div>
        <h3> Caption: </h3> <textarea rows="4" cols="50">Put your edits here...</textarea>

        <h3>Edit image:</h3>
        <div class="pfp-upload">
            <input type="file" id="myFile" name="filename">
        </div>

        <br> 
        <div class="edit-changes-btn">
            <button formaction="submit">Confirm Changes</button>
        </div>
    </div>
</div>
        
            