<div class="login-page"> 

    <div class="login-box"> <!-- log in box-->

    <form action="#"> 

    <div class="inputs"> <!-- username/password-->
        <label for="cafe-name">Cafe: &nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
        <input type="text" id="cafename"><br><br>
        <label for="description">Description: &nbsp;&emsp;&emsp;&emsp;&nbsp;</label>
        <input type="text" id="description" name="username"><br><br>
        <div class="file-upload">
            <input type="file" id="myFile" name="filename">
        </div>

    </div>

    <div class="btns"> <!-- login button -->
        <div class="login">
            
            <button formaction="/"> Edit Cafe </button>
            
        </div>                      
    </div>
    </form>
    </div>
</div> 