{{>top-nav}}

<form action="#">
<div class="postbox-main">
    <div class="infobox">
        <div class="profile-detail"> <!-- Profile Icon-->
            <img src = "assets/cafe-owner/jake.jpg">
            @jakesim
        </div>
        <div class="date-posted">
            Date: {{formatDate currentDate}}
        </div>
    </div> 
    <div class="infobox">
        <div class="select-cafe">
            Select Cafe:
            <div class="dropdown" tabindex="0">  
                <div class="select">
                    <span class="selected">-</span>
                    <div class="caret"></div>
                </div>
                <ul class="menu">
                    {{#each cafe-data}}
                            <li class="cafe-item">{{cafename}}</li>
                    {{/each}}
                </ul>
            </div>
        </div> 
        
    </div>
    <div class="inputbox">
        <input type="text" placeholder="Title" class="title-input">
        <div class="textarea">
            <textarea cols="30" placeholder="Enter Promo details..."></textarea>
        </div>
        <div class="file-upload">
            <input type="file" id="myFile" name="filename">
        </div>
    </div>
</div>
<div class="btns">
    <div class="back">
        <button type="back" id="backButton">BACK</button>
        <script>
            document.getElementById('backButton').addEventListener('click', function(event) {
                event.preventDefault();
                window.location.href = '/';
            });
        </script>
        
    </div>
    <div class="post">
        <button id = "add-review" type="submit">POST</button>
    </div>
</div>
</form>

<script>
    // Get all cafe items
    const cafeItems = document.querySelectorAll('.select-cafe .menu .cafe-item');

    // Add click event listener to each cafe item
    cafeItems.forEach(item => {
        item.addEventListener('click', function() {
            // Remove 'active' class from all cafe items
            cafeItems.forEach(item => {
                item.classList.remove('active');
            });

            // Add 'active' class to the clicked cafe item
            this.classList.add('active');

            // Update the selected cafe text
            const selectedCafe = this.textContent;
            document.querySelector('.select-cafe .selected').textContent = selectedCafe;
        });
    });
</script>