{{>top-nav}}
<!-- END OF TAP NAV BAR -->

<div class="user-profile-main">
    <div class="user-info-container">
        <div class="profile-img">
            <img src = "assets/user-icons/cinnamoroll.jpg"> 
        </div>
        <div class="user-info">
            <div class="name">Name</div>
            <div class="username-profile">@cinnamoroll</div>
            <div class="join-date">Join Date: </div>
        </div>
        <div class ="edit-profile-container">
        <div class="edit-profile-btn">Edit Profile</div>
        </div>
    </div>

    <div class="posted-reviews-container">
        <div class="posted-reviews-label">POSTED REVIEWS:</div>
        <div class="user-review-container">
            <div class="profile-post">post 1</div>
            <div class = "view-edit-container">
                <div class="view-edit-btn">View Post</div>
                <div class="view-edit-btn">Edit Post</div>
            </div>
        </div>

        <div class="user-review-container">
            <div class="profile-post">post 1</div>
            <div class = "view-edit-container">
                <div class="view-edit-btn">View Post</div>
                <div class="view-edit-btn">Edit Post</div>
            </div>
        </div>
    </div>
</div>