{{>top-nav}}
<div class="viewall-box">
    <h1>List of Cafes:</h1>
    <div class="cafe-container">
        {{#each cafes}}
        <div class="cafe-card">
            <img src="{{logo}}" alt="{{cafename}}">
            <div class="intro">
                <div class="cafe-name">
                    <h1>{{cafename}}</h1>
                </div>
                <div class="cafe-description">
                    <p>{{cafedesc}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="btns">
        <div class="back">
            <button type="button" id="backButton">BACK</button>
            <script>
                document.getElementById('backButton').addEventListener('click', function() {
                    window.location.href = '/';
                });
            </script>
        </div>
    </div>

</div>
<script>
    const cafeContainer = document.querySelector('.cafe-container');

    cafeContainer.addEventListener('click', function(event) {
        let clickedElement = event.target;
        while (clickedElement) {
            if (clickedElement.classList.contains('cafe-card')) {
                const cafename = clickedElement.getAttribute('data-cafename');
                window.location.href = 'view-' + cafename + '.html';
                return;
            }
            clickedElement = clickedElement.parentElement;
        }
    });
</script>