{{>top-nav}}
<div class="viewall-box">
    <h1>List of Cafes:</h1>
    <div class="cafe-container">
        <div class="cafe-card">
            <img src="assets/cafe-icons/prelude.jpg" alt="prelude">
            <div class="intro">
                <div class="cafe-name">
                    <h1>Prelude</h1>
                </div>
                <div class="cafe-description">
                    <p>This cafe serves many drinks. Prelude serves many yummy drinks wow! We are very expensive lol! Come visit us ASAP!</p>
                </div>
            </div>
        </div>
        <div class="cafe-card">
            <img src="assets/cafe-icons/tomo.png" alt="cafe1">
            <div class="intro">
                <div class="cafe-name">
                    <h1>Tomo Cafe: Taft Avenue</h1>
                </div>
                <div class="cafe-description">
                    <p>This cafe serves many drinks. Tomo Cafe serves many yummy drinks wow! We are located near the LRT accross KFC. Come visit us ASAP! lol! Test Test Test Test Test</p>
                </div>
            </div>
        </div>
        <div class="cafe-card">
            <img src="assets/cafe-icons/tomo.png" alt="cafe1">
            <div class="intro">
                <div class="cafe-name">
                    <h1>Tomo Cafe: Taft Avenue</h1>
                </div>
                <div class="cafe-description">
                    <p>This cafe serves many drinks. Tomo Cafe serves many yummy drinks wow! We are located near the LRT accross KFC. Come visit us ASAP! lol! Test Test Test Test Test</p>
                </div>
            </div>
        </div>
        <div class="cafe-card">
            <img src="assets/cafe-icons/tomo.png" alt="cafe1">
            <div class="intro">
                <div class="cafe-name">
                    <h1>Tomo Cafe: Taft Avenue</h1>
                </div>
                <div class="cafe-description">
                    <p>This cafe serves many drinks. Tomo Cafe serves many yummy drinks wow! We are located near the LRT accross KFC. Come visit us ASAP! lol! Test Test Test Test Test</p>
                </div>
            </div>
        </div>
        <div class="cafe-card">
            <img src="assets/cafe-icons/tomo.png" alt="cafe1">
            <div class="intro">
                <div class="cafe-name">
                    <h1>Tomo Cafe: Taft Avenue</h1>
                </div>
                <div class="cafe-description">
                    <p>This cafe serves many drinks. Tomo Cafe serves many yummy drinks wow! We are located near the LRT accross KFC. Come visit us ASAP! lol! Test Test Test Test Test</p>
                </div>
            </div>
        </div>
        <div class="cafe-card">
            <img src="assets/cafe-icons/tomo.png" alt="cafe1">
            <div class="intro">
                <div class="cafe-name">
                    <h1>Tomo Cafe: Taft Avenue</h1>
                </div>
                <div class="cafe-description">
                    <p>This cafe serves many drinks. Tomo Cafe serves many yummy drinks wow! We are located near the LRT accross KFC. Come visit us ASAP! lol! Test Test Test Test Test</p>
                </div>
            </div>
        </div>
        <div class="cafe-card">
            <img src="assets/cafe-icons/tomo.png" alt="cafe1">
            <div class="intro">
                <div class="cafe-name">
                    <h1>Tomo Cafe: Taft Avenue</h1>
                </div>
                <div class="cafe-description">
                    <p>This cafe serves many drinks. Tomo Cafe serves many yummy drinks wow! We are located near the LRT accross KFC. Come visit us ASAP! lol! Test Test Test Test Test</p>
                </div>
            </div>
        </div>
        <div class="cafe-card">
            <img src="assets/cafe-icons/tomo.png" alt="cafe1">
            <div class="intro">
                <div class="cafe-name">
                    <h1>Tomo Cafe: Taft Avenue</h1>
                </div>
                <div class="cafe-description">
                    <p>This cafe serves many drinks. Tomo Cafe serves many yummy drinks wow! We are located near the LRT accross KFC. Come visit us ASAP! lol! Test Test Test Test Test</p>
                </div>
            </div>
        </div>
        <div class="cafe-card">
            <img src="assets/cafe-icons/tomo.png" alt="cafe1">
            <div class="intro">
                <div class="cafe-name">
                    <h1>Tomo Cafe: Taft Avenue</h1>
                </div>
                <div class="cafe-description">
                    <p>This cafe serves many drinks. Tomo Cafe serves many yummy drinks wow! We are located near the LRT accross KFC. Come visit us ASAP! lol! Test Test Test Test Test</p>
                </div>
            </div>
        </div>
        <div class="cafe-card">
            <img src="assets/cafe-icons/tomo.png" alt="cafe1">
            <div class="intro">
                <div class="cafe-name">
                    <h1>Tomo Cafe: Taft Avenue</h1>
                </div>
                <div class="cafe-description">
                    <p>This cafe serves many drinks. Tomo Cafe serves many yummy drinks wow! We are located near the LRT accross KFC. Come visit us ASAP! lol! Test Test Test Test Test</p>
                </div>
            </div>
        </div>
        <div class="cafe-card">
            <img src="assets/cafe-icons/tomo.png" alt="cafe1">
            <div class="intro">
                <div class="cafe-name">
                    <h1>Tomo Cafe: Taft Avenue</h1>
                </div>
                <div class="cafe-description">
                    <p>This cafe serves many drinks. Tomo Cafe serves many yummy drinks wow! We are located near the LRT accross KFC. Come visit us ASAP! lol! Test Test Test Test Test</p>
                </div>
            </div>
        </div>
        <div class="cafe-card">
            <img src="assets/cafe-icons/tomo.png" alt="cafe1">
            <div class="intro">
                <div class="cafe-name">
                    <h1>Tomo Cafe: Taft Avenue</h1>
                </div>
                <div class="cafe-description">
                    <p>This cafe serves many drinks. Tomo Cafe serves many yummy drinks wow! We are located near the LRT accross KFC. Come visit us ASAP! lol! Test Test Test Test Test</p>
                </div>
            </div>
        </div>
        <div class="cafe-card">
            <img src="assets/cafe-icons/tomo.png" alt="cafe1">
            <div class="intro">
                <div class="cafe-name">
                    <h1>Tomo Cafe: Taft Avenue</h1>
                </div>
                <div class="cafe-description">
                    <p>This cafe serves many drinks. Tomo Cafe serves many yummy drinks wow! We are located near the LRT accross KFC. Come visit us ASAP! lol! Test Test Test Test Test</p>
                </div>
            </div>
        </div>
        <div class="cafe-card">
            <img src="assets/cafe-icons/tomo.png" alt="cafe1">
            <div class="intro">
                <div class="cafe-name">
                    <h1>Tomo Cafe: Taft Avenue</h1>
                </div>
                <div class="cafe-description">
                    <p>This cafe serves many drinks. Tomo Cafe serves many yummy drinks wow! We are located near the LRT accross KFC. Come visit us ASAP! lol! Test Test Test Test Test</p>
                </div>
            </div>
        </div>
        <div class="cafe-card">
            <img src="assets/cafe-icons/tomo.png" alt="cafe1">
            <div class="intro">
                <div class="cafe-name">
                    <h1>Tomo Cafe: Taft Avenue</h1>
                </div>
                <div class="cafe-description">
                    <p>This cafe serves many drinks. Tomo Cafe serves many yummy drinks wow! We are located near the LRT accross KFC. Come visit us ASAP! lol! Test Test Test Test Test</p>
                </div>
            </div>
        </div>
    </div>
    <div class="btns">
        <div class="back">
            <button type="button" id="backButton">BACK</button>
            <script>
                document.getElementById('backButton').addEventListener('click', function() {
                    window.location.href = 'index.html';
                });
            </script>
        </div>
    </div>

</div>
<script>
    const cafeContainer = document.querySelector('.cafe-container');

    cafeContainer.addEventListener('click', function(event) {
        let clickedElement = event.target;
        while (clickedElement) {
            if (clickedElement.classList.contains('cafe-card')) {
                // Redirect to view-prelude.html
                window.location.href = 'view-prelude.html';
                return;
            }
            clickedElement = clickedElement.parentElement;
        }
    });
</script>